* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  background-size: cover;
}
.main > div {
  display: flex;
  min-height: calc(100vh - 127px);
  justify-content: center;
  align-items: center;
}
.info {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 14px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: linear-gradient(180deg, #2a3267, #1e282f 100%);
}

.hero-body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.column {
  display: flex;
  flex: 1 1 auto;
  padding: 25px;
  width: 100%;
}
#kt_wrapper {
  padding: 0;
}
.moduleWrap {
  width: 100%;
  position: relative;
}
.module_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  width: 100%;
  color: rgb(7, 1, 85);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8); /* Old browsers */
}
.module_card:hover {
  color: rgb(255, 255, 255);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.module_card:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  content: "";
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  border: 1px dashed #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.module_card:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 0;
  content: "";
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border: 1px dashed #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
}

.module_card:hover:before {
  -moz-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.module_card:hover:after {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 0.5;
}

.module_card .module_icon {
  font-size: 52px;
  color: rgb(7, 1, 85);
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.module_card:hover .module_icon {
  color: rgb(255, 255, 255);
}
._icon {
  font-size: inherit;
  color: inherit;
}
.module_name {
  font-size: 22px;
  font-weight: 600;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.topHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
}
.column_item {
  position: relative;
}
.column_item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}
.logout {
  position: fixed;
  right: 100px;
  bottom: 7px;
  z-index: 100;
  padding: 4px 15px 5px;
  background: #e0e0e0;
  border-radius: 15px;
  color: #000;
  border: none;
}
.logout:hover {
  color: #f00;
  background: #fff;
  box-shadow: 0 3px 5px #e1e1e100, 0 2px 3px #bfbfbfa8, 0 2px 2px #bfbfbfa8;
}
.module_logo {
  max-width: 100%;
  max-height: 80px;
}
